.colorAppBar {
    background-color: #A91277 !important;
}

.logo {
    width: 80px;
    height: 50px;
    margin-left: 100px;
    padding-top: 3px;
}

.login {
    margin-right: 40px;
}

.loginn {
    margin-right: 100px;
}